extends admin_layout
block content
	link(rel='stylesheet', href='/assets/stylesheet/style.css')
	#register-list-warp
		.input-group.mt-3
			label.text-zhupao.my-auto 제목
			input.text-center.form-control(type='text', title='제목', name='data_title', placeholder='중국 허난성 지역 내 헤어 미용실 수 2019')
		.input-group.mt-3
			label.text-zhupao.my-auto 단위
			input.text-center.form-control(type='text', title='단위', name='data_unit', placeholder='%, 명, 개...')
		.input-group.mt-3
			label.text-zhupao.my-auto 그래프유형
			.row(style='flex:1')
				.col-3
					.d-flex.justify-content-between
						img(src='/assets/images/acc_vertical_admin.JPG', alt='세로 바차트', style='width:50%')
						input.form-control(type='radio', name='chart_type', value='bar_chart_vertical')
				.col-3
					.d-flex.justify-content-between
						img(src='/assets/images/acc_horizontal_admin.JPG', alt='가로 바차트', style='width:50%')
						input.form-control(type='radio', name='chart_type', value='bar_chart_horizontal')
				.col-3
					.d-flex.justify-content-between
						img(src='/assets/images/pie_admin.JPG', alt='파이차트', style='width:50%')
						input.form-control(type='radio', name='chart_type', value='pie_chart')
				.col-3
					.d-flex.justify-content-between
						img(src='/assets/images/line_admin.JPG', alt='선형그래프', style='width:50%')
						input.form-control(type='radio', name='chart_type', value='line_chart')
		.input-group.mt-3
			label.text-zhupao.my-auto 내용(데이터)
			.overflow-auto(style='flex:1')
				.table.table-responsive#table_content
					table.table
						thead
							tr(data-type='x', data-idx=2)
								th
									input(type='text', name='chart_x', placeholder='x', data-title='true')
								td.space_td
								each x in [1, 2]
									td
										input(type='text', name='x_data_' + x)
						tbody(data-row=1)
							tr(data-type='y', data-idx=2, data-row_idx=1)
								th
									input(type='text', name='chart_y', placeholder='y', data-title='true')
								td.space_td
								each y in [1, 2]
									td
										input(type='text', name='y_data_' + y)
				.d-flex.justify-content-center
					div.mr-3
						span.mr-3 x 축
						button.btn.btn-sm.btn-success.mr-2(onclick='fnAddCol()') +
						button.btn.btn-sm.btn-danger(onclick='fnRemoveCol()') -
					div
						span.mr-3 y 축
						button.btn.btn-sm.btn-success.mr-2(onclick='fnAddRow()') +
						button.btn.btn-sm.btn-danger(onclick='fnRemoveRow()') -
				.d-flex
		.input-group.mt-3
			label.text-zhupao.my-auto 자료번호
			input.text-center.form-control(type='text', name='data_no', placeholder='A-y03312')
	.input-group.mt-3
		label.text-zhupao.my-auto 이미지 입력
		.border.d-flex.justify-content-between.mb-2(style='width:500px;')
			.d-flex.justify-content-center(style='flex:1')
				img(src='/assets/svgs/png.svg', width='30%')
				span PNG
			input.form-control-file(type='file', name='add_img_graph', style='flex:4', accept='.png')
	.input-group.mt-3
		label.text-zhupao.mb-auto Category
		.row(style='flex:1')
			each item, idx in category
				.col-4.mb-3(class=idx % 3 > 0 ? 'pl-0' : '')
					#data-purchase-list.border.p-1
						h5.mb-3(id=item._id.id) #{item._id.name}
						each sub in item.list
							.d-flex.justify-content-between
								label(for=sub.cate_id).my-auto #{sub.cate_name}
								input.form-control(id=sub.cate_id, type='checkbox', name=sub.cate_id, style='width:30px;', value=sub.cate_name)
	.input-group.mt-3
		label.text-zhupao.mb-auto Region
		.row.border.m-0#region(style='flex:1')
			each item in region
				.col-4
					.d-flex.justify-content-between
						label.my-auto(for=item._id) #{item.name}
						input.form-control(id=item._id, value=item.name, type='checkbox', style='width:30px;')

	.input-group.mt-3
		label.text-zhupao.my-auto
		.row.m-0.border#city(style='flex:1')
			each item, idx in city
				.col-4
					.d-flex.justify-content-between
						label.my-auto(for=item._id) #{item.name}
						input.form-control(id=item._id, value=item.name, type='checkbox', style='width:30px;')
	.input-group.mt-3
		label.text-zhupao.my-auto Object
		.row.m-0.border(style='flex:1')
			each item, idx in obj
				.col-3
					label.my-auto(for='object_' + idx) #{item.name}
					input.form-control(id='object_' + idx, name='obj', value=item.name, type='checkbox', style='width:30px;')
	.input-group.mt-3
		label.text-zhupao.my-auto DESCRIPTION
		textarea.form-control(name='description', rows=3, style='resize:none;')
	.input-group.mt-3
		label.text-zhupao.my-auto SOURCE
		input.form-control(type='text', name='source')
	.input-group.mt-3
		label.text-zhupao.my-auto ADD
		.d-flex.justify-content-between(style='flex:1')
			div(style='flex:1')
				.border.d-flex.justify-content-between.mb-2
					.d-flex.justify-content-center(style='flex:1')
						img(src='/assets/svgs/pdf.svg', width='30%')
						span PDF
					input.form-control-file(type='file', name='add_pdf', style="flex:4")
				.border.d-flex.justify-content-between.mb-2
					.d-flex.justify-content-center(style='flex:1')
						img(src='/assets/svgs/xls.svg', width='30%')
						span XLS
					input.form-control-file(type='file', name='add_xls', style='flex:4')
				.border.d-flex.justify-content-between.mb-2
					.d-flex.justify-content-center(style='flex:1')
						img(src='/assets/svgs/ppt.svg', width='30%')
						span PPT
					input.form-control-file(type='file', name='add_ppt', style='flex:4')
				.border.d-flex.justify-content-between.mb-2
					.d-flex.justify-content-center(style='flex:1')
						img(src='/assets/svgs/png.svg', width='30%')
						span PNG
					input.form-control-file(type='file', name='add_png', style='flex:4')
	.text-center.p-3(style='flex:1')
		button.btn.btn-zhupao.mb-3.px-5(onclick='fnSubmit()') 등록
	block append_Js
		script(src='/assets/js/admin.js', type='text/javascript')
