extends layout
block content
	- var group_info = cate_list[0];
	.container
		.bg-gradient-zhupao
			.d-flex.justify-content-between
				a(href='/')
					img(src='/assets/images/pegasus_logo.jpg', alt='logo', style='width:250px;')
				include nav
		.w-100.bg-gradient-primary.mb-3
			h5.m-0.text-white.p-2
				a.text-white(href='/') Home
				| &nbsp; > &nbsp; #{group_info.group_name}
		.row
			.col-3
				.p-2(style='border:3px solid #aaa;')
					h5.mb-5.font-weight-bold More filters
					// 카테고리
					.form-group
						label.font-weight-bold.text-primary.text-right Category
						select.selectpicker(name='category')
							option Category Select
							each cate in cate_list
								option(value=cate.cate_id, selected=cate.cate_id===cate_item, disabled=user_category.indexOf(cate.cate_id) === -1) !{cate.cate_name}
					// Region
					.form-group
						label.font-weight-bold.text-primary.text-right Region
						select.selectpicker.add_query(style='width:150px', name='region')
							option Region Select
							each region in region_list
								option(value=region.name, selected=region.name===strQuery.region) #{region.name}
							option.dropdown-divider(disabled)
							each city in city_list
								option(value=city.name, selected=city.name===strQuery.region) #{city.name}
					// Object
					.form-group
						label.font-weight-bold.text-primary.text-right Object
						select.selectpicker.add_query(style='width:150px', name='object')
							option Object Select
							each obj in object
								option(value=obj._id, selected=obj.name===strQuery.object) #{obj.name}
					button.btn.btn-primary(type='button', onclick='fnSearchDetail()') DETAILED SEARCH
			.col-9
				.p-2(style='border:3px solid #aaa;')
					h5.mb-5.font-weight-bold Search Words
					.input-group.mx-3.m-auto
						input.form-control(type='text')
						.input-group-prepend
							button.btn.btn-primary Search
					h5 Results
					select.selectpicker
						option(value=10) 10
						option(value=20 selected=true) 20
						option(value=30) 30
						option(value=50) 50
						option(value=100) 100
				.list-group
					each item in list
						- var category = [];
						each obj in item.category_obj
							each o in obj
								- category.push(o[Object.keys(o)])
						a.list-group.list-group-item-action.flex-row.my-1.py-2(href='/detail/'  + cate + '/' + item._id, style='min-height:1px;')
							.col-2.text-center
								img.p-1(src='/assets/images/' + item.chart_type + '_user.JPG', alt='', style='width:70%;')
							.col-10.d-flex.flex-column.justify-content-around
								h5 #{item.data_title}
								.py-2
									span.font-weight-bold.text-secondary #{category}
									span.text-secondary &nbsp; | &nbsp;
									span.font-weight-bold.text-secondary #{item.region_array.concat(item.city_array)}
									span.text-secondary &nbsp; | &nbsp;
									span.font-weight-bold.text-secondary #{item.object}
block append_js
	script(src='/assets/js/list.js', type='text/javascript')